/* You can add global styles to this file, and also import other style files */

.dvConfigure {
  height: 30vh;
}

.largeInput { 
  font-size: 7rem;
}

.btn-bg-color{
  background-color: #d6139f;
}

.btn-text-color{
  color: white;
}

.btn-text-size{
  font-size: 2.5rem;
}
